<app-add-edit-item [fg]="fg" (actionClicked)="onActionClicked($event)">
    <form [formGroup]="fg">
        <div class="form__group">
            <png-input-text class="w-full mt-1" label="Description" labelWidth="90" [fg]="fg" control="description" [required]="true" autocomplete="off"></png-input-text>
        </div>
        <div class="form__group">
            <png-dropdown class="w-full mt-1" label="Table Game" labelWidth="90" [fg]="fg" control="tableGame" [optionsValues]="tableGamesValues" placeholder="&lt;Table Game&gt;" [required]="true" [filter]="true" [showClear]="true"></png-dropdown>
        </div>
        <div class="form__group">
            <png-input-switch class="w-full mt-1" label="Enabled" labelWidth="70" [fg]="fg" control="enabled" [required]="true"></png-input-switch>
        </div>
    </form>
    <div class="box shadow-1"> 
        <div> 
          <png-button class="mb-2" icon="mdi mdi-plus" tooltip="Add detail" [text]="true" [rounded]="true" (clicked)="addRow()"></png-button>
        </div>
        <p-table [value]="initialValues" dataKey="IdInitValue" editMode="row" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th class="col-6">Chips</th>
              <th class="col-4">Quantity</th>
              <th class="col-1 md:col-2 sm:col-2"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-initValues let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="initValues">
              <td>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                      <p-dropdown [options]="paymentsValues" [(ngModel)]="initValues.IdPayment" [style]="{'width':'100%'}" placeholder="Select an Instrument" [filter]="true" [showClear]="true"></p-dropdown>
                      </ng-template>
                      <ng-template pTemplate="output">{{getPaymentDescription(initValues.IdPayment)}}</ng-template>
                  </p-cellEditor>
              </td>
              <td>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                      <input pInputText="pInputText" type="number" [(ngModel)]="initValues.Qty" style="width:100%"/>
                      </ng-template>
                      <ng-template pTemplate="output">{{initValues.Qty}}</ng-template>
                  </p-cellEditor>
              </td>
              <td style="text-align:center">
                <button class="p-button-rounded p-button-text" *ngIf="!editing" pButton="pButton" pRipple="pRipple" type="button" pInitEditableRow="pInitEditableRow" icon="pi pi-pencil" (click)="onRowEditInit(initValues)"></button>
                <button class="p-button-rounded p-button-text" *ngIf="!editing" pButton="pButton" pRipple="pRipple" type="button" icon="pi pi-trash" (click)="onRowDelete(ri)"></button>
                <button class="p-button-rounded p-button-text p-button-success p-mr-2" *ngIf="editing" pButton="pButton" pRipple="pRipple" type="button" pSaveEditableRow="pSaveEditableRow" icon="pi pi-check" (click)="onRowEditSave(initValues)"></button>
                <button class="p-button-rounded p-button-text p-button-danger" *ngIf="editing" pButton="pButton" pRipple="pRipple" type="button" pCancelEditableRow="pCancelEditableRow" icon="pi pi-times" (click)="onRowEditCancel(initValues, ri)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
  </app-add-edit-item>




  