<div class="edit-item">
  <div class="box shadow-1 m-2 p-2">
    <ng-content></ng-content>
  </div>
  <div class="flex justify-content-end">
    <png-button
      class="mr-2 mb-2"
      label="Save"
      [style]="'primary'"
      [raised]="true"
      [disabled]="(fg && !fg.valid) || isFinished"
      (clicked)="save()"></png-button>
    <png-button
      class="mr-2 mb-2"
      label="Cancel"
      [style]="'secondary'"
      [raised]="true"
      (clicked)="cancel()"></png-button>
  </div>
</div>
