.unauthorized-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    
    h1, h2 {
        font-weight: bold;
        text-transform: uppercase;
    }

    img {
        height: 200px;
    }

}