<div class="page-content">
  <div class="top-menu justify-content-between flex-wrap" *ngIf="authenticated">
    <png-button class="flex align-items-center" [rounded]="true" [text]="true" icon="pi pi-bars" (clicked)="switchMenu()"></png-button>
    <!-- <p-card>
      <i class="pi pi-bars" style="font-size: 2rem"></i>
    </p-card> -->
    <app-user-info></app-user-info>
  </div>
  <div>
    <p-sidebar [(visible)]="displayMenu" [style]="{'width':'250px'}">
      <p-panelMenu class="h-full" [model]="menu"></p-panelMenu>
    </p-sidebar>
  </div>
  <div class="app-row">
    <div class="app-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>