<png-progress-spinner *ngIf="finishing"></png-progress-spinner>

<app-list-item [title]="title">
  <png-table
    [columns]="columns"
    [data]="operations"
    [loading]="loading"
    [canEditDelete]="canEditDelete"
    [additionalButtons]="additionalButtons"
    [operations]="true"
    [scrollable]="true"
    scrollHeight="calc(100vh - 220px)"
    (actionClicked)="actionClicked($event)"></png-table>
</app-list-item>

<p-toast></p-toast>

<!-- <png-data-view header="List of Countries" [data]="countries"></png-data-view> -->
