<div  class="unauthorizedContainer flex flex-column">
     <!-- image -->
    <div class="p-5 flex justify-content-center align-content-center">
        <img src="../../../../assets/img/stop.webp" alt="Unauhotized">
    </div>
    
     <!-- header -->
    <div class="mt-2 flex justify-content-center align-content-center">
        <h2>Unauthorized</h2> 
    </div>

     <!-- error message -->
    <div class="mt-2 flex justify-content-center align-content-center">
        <p class="lead">You do not have access to perform this action</p>
    </div>

     <!-- actions -->
    <div class="flex justify-content-center align-content-center">
        <button class="mdi mdi-back" (clicked)="goBack()">Go Back</button>
    </div>
</div>
